.git
.gitignore
**/node_modules
**/build
**/dist
venv
.venv
**/__pycache__
**/*.pyc
.env
.env.*
!.env.example
log
temp_upload
chroma_db
backend/static/uploads
backend/static/permanent_uploads
packages/mobile/android/app/build
packages/mobile/ios/Pods
site
*.tar.gz
*.dump
